$media-mobile-sm: "only screen and (max-width : 480px)";
$media-mobile-ex-sm: "only screen and (max-width : 375px)";
$media-tab-sm: "only screen and (min-width : 530px) and (max-width : 690px)";
$media-tab: "only screen and (min-width : 530px) and (max-width : 1024px)";
.curious-container {
  margin-top: 25px;
  background: var(--text-color-light-varient3);
  display: flex;
  justify-content: center;
  .container {
    h2 {
      @media #{$media-mobile-sm} {
        font-size: 24px;
      }
    }
    .body-text {
      padding-top: 60px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
      .text-container {
        font-family: "Roboto", sans-serif;
        display: flex;
        flex-direction: column;
        gap: 52.5px;

        .text {
          // display: flex;
          // flex-direction: column;

          h4 {
            font-size: 30px;
            font-weight: 600;
            line-height: 42px;
            margin-bottom: 20px;
            @media #{$media-mobile-sm} {
              font-size: 20px;
              line-height: 28px;
              margin-bottom: 10px;
            }
            @media #{$media-tab} {
              height: 65px;
              line-height: 32px;
            }
            @media #{$media-tab-sm} {
              height: inherit;
            }
          }
          p {
            font-size: 22px;
            font-weight: 400;
            line-height: 30.8px;
            color: var(--Text-color-dark-varient2);
            @media #{$media-mobile-sm} {
              font-size: 18px;
              line-height: 25px;
            }
          }
        }
        .btn-container {
          display: flex;
          align-items: center;
          gap: 20px;

          button {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 14px 30px;
            color: var(--text-color-light-varient3);
            border: none;
            border-radius: 5px;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            font-weight: 500;
            @media #{$media-mobile-sm} {
              padding: 12px 26px;
            }
            @media #{$media-mobile-ex-sm} {
              padding: 12px 18px;
              font-size: 16px;
            }
            @media #{$media-tab} {
              padding: 12px 22px;
              font-size: 16px;
            }
          }
          a {
            text-decoration: none;
            color: var(--link-and-icon-color);
            display: flex;
            align-items: center;
            gap: 16.89px;
            font-size: 18px;
            font-weight: 500;
          }
        }
        .red {
          background: var(--Secondary-color-light-varient3);
        }
        .violet {
          background: var(--primary-color);
        }
        @media #{$media-mobile-sm} {
          gap: 30px;
        }
      }
      @media #{$media-mobile-sm} {
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-top: 25px;
      }
      @media #{$media-tab} {
        column-gap: 30px;
      }
      @media #{$media-tab-sm} {
        display: flex;
        flex-direction: column;
        gap: 70px;
      }
    }
  }
}