
$media-mobile-sm: "only screen and (max-width : 480px)";
$media-tab-sm: "only screen and (min-width : 530px) and (max-width : 690px)";
$media-tab: "only screen and (min-width : 530px) and (max-width : 1024px)";

.inner-container {
  font-family: "Roboto", sans-serif;
  display: flex;

  .game-card {
    padding: 6px 7px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
    .header {
      display: flex;
      gap: 15px;
      color: var(--text-color-light-varient4);
      font-size: 16px;
      padding: 0 0 4px 0;
    }
    .img-body {
      div {
        overflow: hidden;
       
        img {
          width: 276px;
          height: 180px;
          transition: all 0.6s ease-in;
          @media #{$media-mobile-sm} {
            width: 152px;
            height: 118px;
          }
          @media #{$media-tab} {
            width: 210px;
          }
        }
        @media #{$media-tab} {
          width: 211px;
        }
      }
      .card-body {
        padding: 7px 2px 7px 2px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h5 {
          font-size: 26px;
          line-height: 36.4px;
          font-weight: 600;
          @media #{$media-mobile-sm} {
            font-size: 16px;
            line-height: 20px;
          }
        }
        .company-name {
          font-size: 18px;
          line-height: 26px;
          display: flex;
          gap: 7px;
          span {
            font-weight: 300;
            color: var(--text-color-light-varient4);
          }
          p {
            font-style: italic;
            text-decoration: underline;
            font-weight: 400;
            @media #{$media-mobile-sm} {
              font-size: 16px;
              line-height: 20px;
            }
          }
          @media #{$media-mobile-sm} {
            font-size: 16px;
            line-height: 20px;
          }
        }
        .card-footer {
          font-size: 18px;
          // height: 56px;

          display: flex;
          flex-direction: column;
          gap: 3px;
          .location {
            display: flex;
            gap: 6px;
            font-weight: 400;
            p {
              color: var(--text-color-light-varient4);
            }
          }
          p {
            font-weight: 400;
            span {
              font-size: 22px;
              font-weight: 800;
              color: var(--secondary-color);
            }
          }
          @media #{$media-mobile-sm} {
            justify-content: inherit;
            gap: 0px;
            font-size: 16px;
            line-height: 22px;
          }
        }
        @media #{$media-mobile-sm} {
          padding: 0;
          justify-content: inherit;
          gap: 15px;
        }
      }
      @media #{$media-mobile-sm} {
        display: flex;
        gap: 10px;
      }
    }
    &:hover {
      box-shadow: 0px 1px 35px 1px rgba(0, 0, 0, 0.25);
      transition: all 0.3s;
      transform: scale(1.05);
      img{
        transform: scale(1.2);
      }
    }
    @media #{$media-mobile-sm} {
      width: inherit;
    }
  }
  @media #{$media-mobile-sm} {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
  }
  @media #{$media-tab} {
    grid-template-columns: repeat(3, 1fr);
  }
  @media #{$media-tab-sm} {
    grid-template-columns: repeat(2, 1fr);
  }
}
