$media-mobile-sm: "only screen and (max-width : 480px)";

.slider-container {
	padding-top: 60px;
	font-family: "Roboto", sans-serif;

	@media #{$media-mobile-sm} {
		padding-top: 30px;
	}
}



.carousel {
	text-align: inherit;
	@media #{$media-mobile-sm} {
		// display: none;
	}
}
.carousel__viewport {
	padding-bottom: 10px;
	overflow: hidden;
}
.carousel__pagination {
	padding-top: 12px;
}
.carousel__pagination-button {
	background: var(--text-color-light-varient6);
	height: 12px;
	width: 12px;
	border-radius: 50%;
}
.carousel__pagination-button--active {
	background: var(--text-color-light-varient4);
}
