$media-mobile-sm: "only screen and (max-width : 480px)";
$media-mobile-ex-sm: "only screen and (max-width : 375px)";
$media-tab: "only screen and (min-width : 530px) and (max-width : 1024px)";

.usp-container {
  display: flex;
  justify-content: center;
  position: relative;

  .usp-container__main {
    border-radius: 5px;
    background: var(--text-color-light-varient8);
    position: absolute;
    top: -2.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 5px 1px rgba(120, 86, 195, 0.35);

    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 40px;
      color: var(--primary-color);
      @media #{$media-mobile-sm} {
        font-size: 22px;
      }
      @media #{$media-mobile-ex-sm} {
        font-size: 18px;
      }
      @media #{$media-tab} {
        font-size: 26px;
      }
    }
    h4 {
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: var(--text-color-light-varient4);
      @media #{$media-mobile-sm} {
        font-size: 18px;
      }
      @media #{$media-mobile-ex-sm} {
        font-size: 14px;
      }
      @media #{$media-tab} {
        font-size: 22px;
      }
    }
    .text-section {
      padding: 0 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px 0;
      @media #{$media-mobile-sm} {
        padding: 0 20px;
      }
      @media #{$media-tab} {
        padding: 0 35px;
        margin: 20px 0;
      }
    }
    .first-section {
      border-right: 2.5px solid var(--primary-color);
    }
    .second-section {
      border-right: 2.5px solid var(--primary-color);
    }

    @media #{$media-mobile-sm} {
      height: 74px;
      top: -2rem;
    }
  }
}