*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    

}
body{
    background: #eeeeee;   
    font-family: "Roboto", sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}


:root{
    --text-color-light-varient8: #f9f9f9;
    --text-color-light-varient6: #CCCCCC;
    --primary-color: #7856c3;
    --text-color-light-varient4: #6A6A6A;
    --Text-color-dark-varient2: #191919;
    --secondary-color: #ff492c;
    --Secondary-color-light-varient3: #ff0000;
    --link-and-icon-color: #1a73eb;
    --text-color-light-varient3: #ffffff;
    --Secondary-color-v2-dark-varient3: #F4FFED;
    --Secondary-color-v1-light-varient3: #FFEFED;
}



.body-container{
    width: 1240px;
    margin: auto;
  }
  .container{
    padding: 100px 0;
    
  }

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;

  }

  .page-title{
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
  }
  .page-description{
    padding: 0 210px;
    font-size: 24px;
    font-weight: 400;
    line-height: 33.6px;
    color: var(--text-color-light-varient4);
  }

/* view more button */

 .footer-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16.89px;
    padding-top:57px ;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: var( --link-and-icon-color);
  }
  .footer-btn{
    text-decoration: none;
    color: var( --link-and-icon-color);
  }

  /*company details page*/

	.bread-crumb {
		color: #9a9a9a;
		padding: 10px 0;
	}
  .is-active {
    color: black;
  }


 /**/
  @media only screen and (max-width: 480px){
    .body-container{
      width:100%;
    }
    .container{
      padding: 40px 10px;
    }

    .footer-btn-container{
      padding-top: 37px ;
    }
    
    .header-text{
      align-items: inherit;
      text-align: inherit;
      gap: 15px;
    }
    .page-title{
      line-height: 33px;
      font-size: 24px;
    }
    .page-description{
      padding: 0;
       font-size: 18px;
       line-height: 25px;
    }
    .bread-crumb {
      padding: 10px 10px;
    }
  }

  @media only screen and (min-width: 530px) and (max-width: 1024px){
    .body-container{
      width: 95%;
    }
    .container{
      padding: 60px 0;
    }
    .header-text{
      align-items: inherit;
      text-align: inherit;
      gap: 15px;
    }
    .page-title{
      line-height: 33px;
      font-size: 36px;
    }
    .page-description{
      padding: 0;
       font-size: 23px;
       line-height: 33px;
    }
  }

