$media-mobile-sm: "only screen and (max-width : 480px)";
.company-detail {
	//page global design//
	.g-section--structure {
		background: #ffffff;
		margin-top: 25px;
		padding: 100px 0;
		@media #{$media-mobile-sm} {
			padding: 40px 10px;
		}
	}
	.title-top--gray {
		color: var(--text-color-light-varient4);
		font-weight: 500;
	}
	h2 {
		font-size: 50px;
		line-height: 70px;
		@media #{$media-mobile-sm} {
			font-size: 24px;
			line-height: 33px;
		}
	}

	.g-description--light {
		font-size: 24px;
		line-height: 33px;
		color: var(--text-color-light-varient4);
		padding: 20px 0 80px 0;
		@media #{$media-mobile-sm} {
			padding: 20px 0 45px 0;
		}
	}

	.g-section-header--structure {
		width: 70%;
		margin: auto;
		text-align: center;
		@media #{$media-mobile-sm} {
			width: inherit;	
			text-align: inherit;
		}
	}
	//section//

	//section//
	.profile-detail {
		background: #ffffff;
		img {
			height: 250px;
			width: 100%;
			object-fit: cover;
			@media #{$media-mobile-sm} {
				height: 155px;
			}
		}
		.profile-header {
			position: relative;
			.profile-header__img {
				img {
					height: 250px;
					width: 250px;
					position: absolute;
					top: -70px;
					border: 2px solid #cccccc;
					object-fit: contain;
					padding: 5px;
					@media #{$media-mobile-sm} {
						height: 126px;
						width: 125px;
						object-fit: cover;
						left: 10px;
						top: -50px;
					}
				}
			}
			.profile-header__details {
				display: flex;
				.profile-header-info {
					// display: flex;
					margin: 20px 0 0 265px;
					.profile-header-info__location {
						font-size: 22px;
						color: var(--text-color-light-varient4);
						line-height: 30px;
						@media #{$media-mobile-sm} {
							font-size: 14px;
							line-height: 15px;
						}
					}

					p {
						margin-top: 20px;
						font-size: 26px;
						color: var(--text-color-light-varient4);
						@media #{$media-mobile-sm} {
							font-size: 18px;
							margin-top: 5px;
						}
					}

					@media #{$media-mobile-sm} {
						margin: 0 0 0 143px;
					}
				}
				button {
					height: 40px;
					background: var(--link-and-icon-color);
					border: none;
					color: white;
					margin: 140px auto 0 auto;
					padding: 0 155px;
					font-size: 18px;
					@media #{$media-mobile-sm} {
						margin: 20px 0 0 8px;
						padding: inherit;
						width: 95%;
					}
				}
				@media #{$media-mobile-sm} {
					display: block;
				}
			}
			.profile-header__overview {
				width: 100%;
				// border: 1px solid #9a9a9a;
				box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.15);
				display: flex;
				margin-top: 55px;
				padding: 7px 0 0 0;
				// border-top: 2px solid #cccccc;
				gap: 10px;

				.active {
					color: var(--link-and-icon-color);

					div {
						width: 70%;
						border-bottom: 3px solid var(--link-and-icon-color);
						margin: 3px auto 0 auto;
					}
				}

				.overview__button {
					margin-left: 74px;
					cursor: pointer;

					@media #{$media-mobile-sm} {
						margin-left: 10px;
					}
				}
			}

			.profile-header__derection-call {
				border-bottom: 1px solid #cccccc;
				padding: 25px 0;
				display: flex;
				color: var(--link-and-icon-color);
				.cta__location {
					height: 40px;
					width: 40px;
					border: 1.5px solid var(--link-and-icon-color);
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 50%;
					i {
						font-size: 20px;
					}
				}

				.profile-header-cta {
					margin-left: 74px;
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 10px;
					@media #{$media-mobile-sm} {
						margin-left: 5px;
					}
				}
				@media #{$media-mobile-sm} {
					gap: 30px;
				}
			}
		}
	}
	//section//
	.company-info {
		background: #ffffff;

		span {
			color: var(--link-and-icon-color);
		}
		i {
			color: var(--link-and-icon-color);
		}
		.item--display {
			display: flex;
			gap: 34px;
			align-items: center;
		}
		.local-g--structure {
			@media #{$media-mobile-sm} {
				padding-left: 10px;
			}
		}
		.company-info__about {
			padding: 60px 0px;

			h4 {
				font-size: 30px;
				margin-top: 30px;
			}
			.about-text {
				color: var(--Text-color-dark-varient2);
				margin-top: 15px;
			}
			@media #{$media-mobile-sm} {
				padding: 40px 10px;
			}
		}
		.company-info__details {
			width: 70%;
			font-size: 22px;
			.details-item {
				display: flex;
				// gap: 100px;
				justify-content: center;
				@media #{$media-mobile-sm} {
					flex-direction: column;
				}
			}
			.details-item__single {
				padding: 25px 0 25px 25px;
			}

			.location-web__location {
				flex: 1;
				padding-right: 50px;
				border-bottom: 1px solid #cccccc;
				@media #{$media-mobile-sm} {
					padding-right: 10px;
				}
			}
			.location-web__web {
				flex: 1;
				border-bottom: 1px solid #cccccc;
			}

			.time-contact__time {
				flex: 1;
				padding-right: 50px;
				border-bottom: 1px solid #cccccc;
				@media #{$media-mobile-sm} {
					padding-right: 10px;
				}
			}
			.time-contact__contact {
				flex: 1;
				border-bottom: 1px solid #cccccc;
			}
			@media #{$media-mobile-sm} {
				width: inherit;
			}
		}
		.company-info__highlights {
			padding: 60px 0;
			width: 70%;
			@media #{$media-mobile-sm} {
				width: inherit;
			}
			.highlights-item {
				display: flex;
				// gap: 100px;
				// padding-top: 20px;
				@media #{$media-mobile-sm} {
					flex-direction: column;
					justify-content: center;
				}
			}
			.highlights-item__single {
				padding: 15px 0 15px 25px;
			}

			.games-age {
				margin-top: 35px;
				border-top: 1px solid #cccccc;
				.games-age__games {
					flex: 1;
					border-bottom: 1px solid #cccccc;
				}
				.games-age__age {
					flex: 1;
					border-bottom: 1px solid #cccccc;
				}
			}

			.team-accompany__team {
				flex: 1;
				border-bottom: 1px solid #cccccc;
			}
			.team-accompany__accompany {
				flex: 1;
				border-bottom: 1px solid #cccccc;
			}
			.game-duration__duration {
				flex: 1;
				border-bottom: 1px solid #cccccc;
			}
		}
	}
	//section//
	.escapelly-advantages {
		.advantages-innerbox {
			width: 60%;
			text-align: center;
			margin: auto;

			.advantages-innerbox__iconbox {
				display: flex;
				justify-content: space-around;
				.iconbox--center {
					span {
						font-size: 70px;
					}
					i {
						font-size: 70px;
					}
					h5 {
						margin-top: 18px;
						font-size: 26px;
						font-weight: 500;
						@media #{$media-mobile-sm} {
						}
					}
					@media #{$media-mobile-sm} {
						text-align: center;
					}
				}
			}
			@media #{$media-mobile-sm} {
				width: inherit;
				text-align: inherit;
			}
		}
	}
	//section//

	//section//

	//section//
	.escape-companies {
		.escape-companies__main-box {
			.escape-companies-header__description {
				padding: 20px 0 0 0;
				@media #{$media-mobile-sm} {
					padding: 20px 0 45px 0;
				}
			}
		}
	}
}
