

.game-list{
    .all-gamesection{
        background: #ffffff;
        .all-gamesection__wrapper{
            padding: 100px 0;
            .gamelist-header{
                text-align: center;
            }
            .gamelist-allgame{
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                row-gap: 20px;
                .gamelist-allgame__card{
                  
                }
            }
        }
    }
}