$media-mobile-sm: "only screen and (max-width : 480px)";
$media-tab-sm: "only screen and (min-width : 530px) and (max-width : 690px)";
$media-tab: "only screen and (min-width : 530px) and (max-width : 1024px)";

.game-list {
	.all-gamesection {
		background: #ffffff;
		scroll-snap-stop: 100px;
		.all-gamesection__wrapper {
			padding: 100px 0;
			.gamelist-header {
				text-align: center;
			}
			.gamelist-allgame {
				margin-top: 50px;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				justify-items: center;
				row-gap: 20px;
				.gamelist-allgame__card {
				}
				@media #{$media-tab} {
					grid-template-columns: repeat(3, 1fr);
				}
				@media #{$media-tab-sm} {
					grid-template-columns: repeat(2, 1fr);
				}
				@media #{$media-mobile-sm} {
					display: block;
				}
			}
		}
	}
}
